# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# MacOS
.DS_Store

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (se usi VSCode)
.vscode/

# Test coverage reports
htmlcov/
*.cover
.coverage
coverage.xml

# Build artifacts
build/
dist/
*.egg-info/

# Segmentation files
*.nii
*.nii.gz
